.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  @media (min-width: 1024px) {
    padding: 4rem;
  }
}

.container__item1 {
  padding-right: 0.5rem;
  box-sizing: border-box;
  @media (min-width: 1024px) {
    width: 60%;
  }
}

.container__item2 {
  padding-left: 0.5rem;
  box-sizing: border-box;
  @media (min-width: 1024px) {
    width: 40%;
  }
}
